*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'open sans';
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color: #642a73;
    font-size: 40px;
    text-align: center;
    margin-bottom: 60px;
}

header{
    width: 100%;
    height: 600px;
    background: #43C6AC; 
    background: -webkit-linear-gradient(to bottom, hsla(244, 59%, 21%, 0.61), hsla(168, 53%, 52%, 0.61)),url(../img/portada.jpg); 
    background: linear-gradient(to bottom, hsla(244, 59%, 21%, 0.61), hsla(168, 53%, 52%, 0.61)),url(../img/portada.jpg); 
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
    
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color: #fff;
}

.textos-header h2{
    font-size: 50px;
    color: #fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}


.contenedor-gitm{
    display: flex;
    justify-content: space-evenly;
}

.imagen-gitm{
    width: 80%;
}

.articulos{
    background: #e5dbf0;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
    width: 100%;
    height: 100;
    object-fit: cover;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: rgba(86, 30, 133, 0.493);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}